.fade-enter {
  opacity: 0;
  transform: translateY(20px) scale(0.98);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity 400ms, transform 400ms;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(-20px) scale(0.98);
  transition: opacity 400ms, transform 400ms;
} 